export(Imat)
export(Takahashi_Davis)
export(Zeromat)
export(cholPermute)
export(cholsolve)
export(cholsolveAQinvAT)
export(emptySp)
export(find_pivot_Bastos)
export(logdet)
export(sparsediag)
import(Matrix)
useDynLib(linalg)
